<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.my0702">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="i好心情"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".updateimood"></activity>
        <activity android:name=".imooddd" />
        <activity android:name=".updatedd" />
        <activity android:name=".updatediary" />
        <activity android:name=".GameMood" />
        <activity android:name=".loginadd" />
        <activity android:name=".profile2" />
        <activity android:name=".profile_choice" />
        <activity android:name=".MainActivity2__login" />
        <activity android:name=".puzzle_start" />
        <activity android:name=".puzzle_game" />
        <activity android:name=".SamplePuzzle" />
        <activity android:name=".profile" />
        <activity android:name=".calender" />
        <activity android:name=".calender_mood" />
        <activity android:name=".game_choice" />
        <activity android:name=".i_mood" />
        <activity android:name=".imood2" />
        <activity android:name=".imood3" />
        <activity android:name=".imood4" />
        <activity android:name=".imood5" />
        <activity android:name=".i_new" />
        <activity android:name=".si1" />
        <activity android:name=".bgw1" />
        <activity android:name=".sq1" />
        <activity android:name=".tt111111" />
        <activity android:name=".MainActivity_login_sql_text" />
        <activity android:name=".loginabc" />
        <activity android:name=".SQLite_insert" /> <!-- <activity -->
        <!-- android:name="com.example.my0702.MainActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" /> -->
        <service
            android:name=".MusicService"
            android:enabled="true" />

        <activity
            android:name=".textlogin"
            android:label="@string/title_activity_textlogin" />
        <activity android:name=".SQLite" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>